
  /* 背景 ------------------------------------------------------------------ */
  body {
    font-family: sans-serif;/* 文字の形をスッキリしたゴシック体（サンセリフ）にする */
    margin: 0;/* ブラウザが勝手に作る外側のスキマを 0 にする */
    padding: 0;/* ブラウザが勝手に作る内側のスキマを 0 にする */
    background-color: #121212;/* 背景の色を濃いグレー（ほぼ黒）にする */
    color: #ffffff;  /* 文字の色を白にする */
    overflow: hidden;/* 画面からはみ出た部分を隠す（＝スクロールできないようにする） */
    height: 100vh;/* 高さを、今見ている画面の縦幅いっぱい（100%）にする */
    width: 100vw;/* 横幅を、今見ている画面の横幅いっぱい（100%）にする */
  }

  #loadingArea {
    font-family: monospace;/* 文字を「等幅フォント」にする（すべての文字が同じ横幅になる） */
  }
